$black: #000000;
$black3: #333333;
$black4f: #4f4f4f;
$black2b: #2B2B2B;
$black21: #212121;
$black1a: #1a1a1a;
$brown2e: #2E2E2E;
$grey9c: #9c9c9c;
$greybd: #bdbdbd;
$white: #FFFFFF;
$yellow: #FAFF00;
$yellowc6: #C6964E;

$brand-red: #E14D43;
$brand-blue: #42A0E0;
$brand-green: #2AB27B;
$brand-yellow: #ECB115;
$brand-dark-blue: #1C2E3A;
$dark-grey: #4A4A4A;
$light-grey: #E5E5E5;
$llight-grey: #f6f6f6;
$radius: 4px;


$brown: #4A3200;